# Кэш и временные файлы
node_modules/
.DS_Store
*.log

# Конфигурационные файлы IDE
.vscode/
.idea/
.vs/

# Сгенерированные файлы сборки
dist/
build/
out/

# Файлы с паролями или ключами
.env
.env.*
.env.local

# Файлы локализации и переводов
*.po
*.pot

# Другие временные или локальные файлы
*.tmp
*.swp
